<header class="mb-5">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Gym Logger</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/account">Account</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/data">Data</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <a href="/logout" class="btn btn-outline-light my-2 my-sm-0" role="button">Logout</a>
            </form>
        </div>
    </nav>
</header>